$main-text: white;
$main-red: #F40009;
$font-size-l: 35px;
$font-size-m: 22px;
$font-size-s: 18px;
$font-size-xl: 60px;
$font-size-card: 30px;
$option-bg: rgba(0, 0, 0, 0.7);
$main-box-shadow: 4px 4px 0px rgba(30, 30, 30, 0.4);
$font-family-body: 'Gilroy-Regular', 'Helvetica Neue', 'Arial', sans-serif;